/*form controls*/
input[type=text] {
    border-radius: 4px;
}

    input[type=text]:focus {
        border: solid 2px #337ab7;
    }


    input[type=text]:hover {
        background-color: #eee;
    }

div input[type=checkbox] {
    margin-right: 3px;
}

td input[type=checkbox], label {
    padding-right: 10px;
}

div input[type=radio] {
    margin-right: 3px;
}

td input[type=radio], label {
    padding-right: 10px;
}


select {
    border-radius: 4px;
}

    select:hover {
        background-color: #eee;
        border-radius: 4px;
    }

    select:focus {
        border: solid 2px #337ab7;
    }

option:hover {
    background-color: #eee;
}

option {
    background-color: #ffffff;
}

textarea:hover {
    background-color: #eee;
}

textarea {
    background-color: #ffffff;
}

    textarea:focus {
        border: solid 2px #337ab7;
    }

/*end*/


/*form scroll*/

.scrollbar {
    float: left;
    height: 100px;
    width: auto;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
    border: solid 2px #337ab7;
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.force-overflow {
    min-height: 100px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}


html {
    scroll-behavior: smooth;
}

/*end*/

/*dropdown snackbar*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 40%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}


@keyframes fadeout {
    from {
        top: 50%;
        opacity: 1;
    }

    to {
        top: 0;
        opacity: 0;
    }
}




@media only screen and (max-width: 500px) {

    @-webkit-keyframes fadein {
        from {
            top: 0;
            opacity: 0;
        }

        to {
            top: 50%;
            opacity: 1;
        }
    }


    @keyframes fadeout {
        from {
            top: 50%;
            opacity: 1;
        }

        to {
            top: 0;
            opacity: 0;
        }
    }




    #snackbar {
        visibility: hidden;
        min-width: 250px;
        border-radius: 5px;
        padding: 16px;
        position: fixed;
        z-index: 9999;
        top: 50%;
        left: 20%;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
    }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
}
/*end*/


/*form scroll*/

.FormScrollbar {
    float: left;
    width: auto;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

.force-overflow {
    min-height: 100px;
}

.FormScrollbar-primary::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.FormScrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}


html {
    scroll-behavior: smooth;
}

/*end*/

.flow {
    overflow: auto;
}

@media only screen and (max-width: 768px) {
    .flow {
        overflow: auto;
    }
}

@media only screen and (max-width: 500px) {
    .flow {
        overflow: auto;
    }
}



.affix {
    top: 60px;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}


@media only screen and (max-width: 768px) {
    .affix {
        padding-right: 95px;
        top: 115px;
    }

    .affix + .container-fluid {
    }
}

@media only screen and (max-width: 500px) {
    .affix {
        padding-right: 95px;
        top: 115px;
    }

    .affix + .container-fluid {
    }
}
