<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
			<section name="bootstrap" type="DevExpress.Web.Bootstrap.BootstrapConfigurationSection, DevExpress.Web.Bootstrap.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--
		<add key="ProductCode" value="PRTMS01"/>
		<add key="MasterDbApiBaseAddress" value="http://192.168.1.72/pegasustech/index.php/api"/>
		<add key="RegistrationUrl" value="http://192.168.1.72/pegasustech/index.php/register"/>
		<add key="ApplicationType" value="web"/>
		<add key="CloudLoginURL" value="http://192.168.1.27:1001//cloudlogin.aspx"/>
		<add key="DBUserName" value="sa"/>
		<add key="DBPassword" value="password@123"/>
		<add key="DBLogicalName" value="Pegasus_ERP"/>
		<add key="DBPhysicalName" value="Pegasus_ERP_log"/>
		<add key="DBPath" value="E:\\Cloud_Solution\\Database\\CloudDB19122018.bak"/>
		<add key="ValidIP" value="37.34.226.169,103.89.254.240,::1"/>
		<add key="ValidUser" value="3000,3021,superadmin,3058,7544"/>
		<add key="net.webservicex.www.CurrencyConvertor" value="http://www.webservicex.net/CurrencyConvertor.asmx"/>
		<add key="aspnet:MaxHttpCollectionKeys" value="20000"/>
		<add key="RegistrationId" value="1"/>
		<add key="NotificationService.MessageService" value="http:/103.240.10.10:89//GeoService/MessageService.asmx"/>
		<add key="ReportPath" value="C:\\INETPUB\\wwwroot\\pryce\\Report_Repx\\"/>
    <add key="LeaveIntegration" value="0"/>
    <add key="TradingInvoiceNoInterval" value="7"/> -->


		<add key="ClientName" value="NIC" />
		<add key="ApprovalEmpId" value="369,703,1720" />
		<add key="ApprovalIntegration" value="0" />
		<add key="LastLogProcessDay" value="40" />
		<add key="LeaveIntegration" value="0" />
		<add key="PLApproval" value="1" />
		<add key="ErrorFile" value="0" />
		<!-- if shift range auto value is false means it will check in and out time according time range mentioned in time table page (beginning in ,ending in , begining out and ending out) otherwise it will automatically define shift range according mid time of particular shift -->
		<add key="Shift_Range_Auto" value="False" />

		<add key="CloudLoginURL" value="http://192.168.1.27:1001//cloudlogin.aspx" />
		<add key="DBUserName" value="sa" />
		<add key="DBPassword" value="password@123" />
		<!--<add key="DBLogicalName" value="Pegasus_ERP" />
		<add key="DBPhysicalName" value="Pegasus_ERP_log" />-->


		<add key="DBLogicalName" value="Pryce_Blank_New" />
		<add key="DBPhysicalName" value="Pryce_Blank_New_log" />

		<!--<add key="DBPath" value="E:\Project Information\Pryce\CloudDB\PryceCloud.bak" />-->
		<add key="DBPath" value="F:\\DB\\Pryce_Client_DB.bak" />
		<add key="ValidIP" value="37.34.226.169,103.89.254.240,::1" />
		<add key="ValidUser" value="3000,3021,superadmin,3058,7544" />
		<add key="net.webservicex.www.currencyconvertor" value="http://www.webservicex.net/CurrencyConvertor.asmx" />
		<add key="aspnet:MaxHttpCollectionKeys" value="100000" />
		<add key="RegistrationId" value="1" />
		<add key="NotificationService.MessageService" value="http:/103.240.10.10:89//GeoService/MessageService.asmx" />
		<!-- <add key="ReportPath" value="C:\\inetpub\\wwwroot\\PryceNew\\Report_Repx\\" />-->
		<!--<add key="ReportPath" value="F:\Pegasus-2021\Development\Pryce\MyPryceNew\Report_Repx\" />-->

		<add key="ReportPath" value="F:\Pegasus 2022\Pryce\Pryce\MyPryceNew\Report_Repx\" />

		<add key="ServicePath" value="E:\\Pegasusweb\\Pryce Backup\\Pryce Service\\DeviceOperationService\\DeviceOperationService\\LogDownloadApplication\\LogDownloadApplication\\bin\\x86\\Release\\DeviceOperationService.exe" />
		<add key="RegistrationUrl" value="http://192.168.1.72/opencart/pegasus/upload/index.php?route=account/register" />
		<add key="LicenseLoginUrl" value="http://192.168.1.72/opencart/pegasus/upload/index.php?route=account/login" />
		<add key="MasterDbapiBaseAddress" value="https://www.pegasustech.net/index.php?route=api/pryce/get_company_detail" />
		
		<add key="POSApiURLforPryce" value="https://localhost:44300/ItemMasterAPI" />
		<!-- <add key="DBPath_ES" value="E:\Project Information\Pryce\CloudDB\Pryce_es_Cloud.bak" />-->
		<add key="DBPath_ES" value="F:\\DB\\Pryce_es_Cloud.bak" />
		<add key="DBLogicalName_ES" value="pryce_es" />
		<add key="DBPhysicalName_ES" value="pryce_es_log" />
		<add key="TradingInvoiceNoInterval" value="7"/>


		<!--<add key="ApplicationType" value="cloud" />-->
		<add key="ApplicationType" value="Web" />

		<add key="AppType" value ="Pryce" />
		<add key="master_product_id" value="639" />

		<!--<add key="AppType" value ="Timeman" />
    <add key="master_product_id" value="497" />-->


		<add key="AppVersion" value ="1.0.23"/>
		<add key="AppRelease" value ="01-Jan-2024"/>
	</appSettings>
	<connectionStrings>
		
		<add connectionString="Persist Security Info=True;Data Source=pegasus-india-server;Initial Catalog=Pryce_es;User ID=sa;Password =Sa@1234;Max Pool Size=10000;Connection Timeout=1000" name="Pega_Email_System" providerName="System.Data.SqlClient" />
		<add connectionString="Data Source=pegasus-india-server;Initial Catalog=Pryce_Live_13022025;User ID=sa;Password=Sa@1234;Max Pool Size=10000;Connection Timeout=10000" name="PegaConnection" providerName="System.Data.SqlClient" />
		<add connectionString="Data Source=pegasus-india-server;Initial Catalog=Pryce_Live_13022025;User ID=sa;Password=Sa@1234;Max Pool Size=10000;Connection Timeout=10000" name="PegaConnection1" providerName="System.Data.SqlClient" />


		

	</connectionStrings>

	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.web>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<sessionState timeout="360"></sessionState>
		<!-- <httpRuntime maxRequestLength="1048576"/>-->
		<httpRuntime executionTimeout="100000000000" useFullyQualifiedRedirectUrl="true" maxRequestLength="1048576" requestLengthDiskThreshold="15360" requestValidationMode="2.0"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="DevExpress.Printing.v18.1.Core, Version=18.1.3.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Data.v18.1, Version=18.1.3.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Utils.v18.1, Version=18.1.3.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Charts.v18.1.Core, Version=18.1.3.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraCharts.v18.1, Version=18.1.3.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.PivotGrid.v18.1.Core, Version=18.1.3.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraPivotGrid.v18.1, Version=18.1.3.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraReports.v18.1, Version=18.1.3.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraRichEdit.v18.1, Version=18.1.3.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.RichEdit.v18.1.Core, Version=18.1.3.0, Culture=Neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.XtraReports.v18.1.Web, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraReports.v18.1.Web.WebForms, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				
				<add assembly="DevExpress.XtraReports.v18.1.Extensions, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraCharts.v18.1.Extensions, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraVerticalGrid.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.CodeParser.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraGrid.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraGrid.v18.1.Design, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="DevExpress.Web.ASPxThemes.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
				<add assembly="DevExpress.Web.ASPxTreeList.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.Resources.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Xpo.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.DataAccess.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Charts.Designer.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.Bootstrap.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.Web.ASPxScheduler.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraScheduler.v18.1.Core, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="DevExpress.XtraEditors.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms defaultUrl="~/ERPLogin.aspx" slidingExpiration="true"></forms>
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

      <customErrors mode="On"  >
      <error statusCode="403"  />
      <error statusCode="404"  />
    </customErrors>
        -->
		<customErrors mode="Off"></customErrors>
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" smartNavigation="true" maintainScrollPositionOnPostBack="true">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
			<!--<add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v14.1, Version=14.1.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />-->
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false"/>
			<add verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add validate="false" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add validate="false" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add validate="false" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
		</httpHandlers>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>

		<modules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
		</modules>
		<security>
			<requestFiltering>
				<!-- This will handle requests up to 1024MB (1GB) -->
				<requestLimits maxAllowedContentLength="1048576000"/>
			</requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
			<add name="ASPxUploadProgressHandler" preCondition="integratedMode" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add name="ASPxReportDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
			<add name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
		</handlers>
	</system.webServer>
	<system.serviceModel>
		<bindings/>
		<client/>
	</system.serviceModel>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font=""/>
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
		<settings accessibilityCompliant="false" bootstrapMode="Bootstrap3" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge"/>
		<errors callbackErrorRedirectUrl=""/>
		<resources>
			<add type="ThirdParty"/>
			<add type="DevExtreme"/>
		</resources>
		<bootstrap mode="Bootstrap3" iconSet="Embedded"/>
	</devExpress>
</configuration>
